
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@model ConsultMe.Domain.ViewModels.DoctorViewModel
<div class="row">
    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

        <!-- Profile Sidebar -->
        <div class="profile-sidebar">
            <div class="widget-profile pro-widget-content">
                <div class="profile-info-widget">
                    <a href="#" class="booking-doc-img">
                        <img src="~/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                    </a>
                    <div class="profile-det-info">                        
                        <h3>Dr. @Model.Name</h3>

                        <div class="patient-details">
                            <h5 class="mb-0">@Model.Specialist, @Model.Specialization</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-widget">
                <nav class="dashboard-menu">
                    <ul>
                        <li class="active">
                            <a href="/Customer/Dashboard">
                                <i class="fas fa-columns"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Customer/UserList">
                                <i class="fas fa-calendar-check"></i>
                                <span>User Creation</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-hourglass-start"></i>
                                <span>Schedule Timings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-star"></i>
                                <span>Reviews</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-user-cog"></i>
                                <span>Profile Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-lock"></i>
                                <span>Change Password</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /Profile Sidebar -->

    </div>
    <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="row">
            <div class="col-md-12">
                <div class="card dash-card">
                    <div class="card-body">
                        @{
                            ConsultMe.Domain.ViewModels.CustomerDashboardViewModel viewmodel = (ConsultMe.Domain.ViewModels.CustomerDashboardViewModel)ViewData["DashboardData"];
                        }

                        <div class="row">
                            <div class="col-md-12 col-lg-4">
                                <div class="dash-widget dct-border-rht">
                                    <div class="circle-bar circle-bar1">
                                        <div class="circle-graph1" data-percent="75">
                                            <img src="~/assets/img/icon-01.png" class="img-fluid" alt="patient">
                                        </div>
                                    </div>
                                    <div class="dash-widget-info">
                                        <h6>Total Patient(s)</h6>
                                        <h3>@viewmodel.OverallPatientsCount</h3>
                                        <p class="text-muted">Till Today</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-4">
                                <div class="dash-widget dct-border-rht">
                                    <div class="circle-bar circle-bar2">
                                        <div class="circle-graph2" data-percent="65">
                                            <img src="~/assets/img/icon-02.png" class="img-fluid" alt="Patient">
                                        </div>
                                    </div>
                                    <div class="dash-widget-info">
                                        <h6>Today Patient(s)</h6>
                                        <h3>@viewmodel.TodayPatientCount</h3>
                                        <p class="text-muted">@DateTime.Now.ToShortDateString()</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-4">
                                <div class="dash-widget">
                                    <div class="circle-bar circle-bar3">
                                        <div class="circle-graph3" data-percent="50">
                                            <img src="assets/img/icon-03.png" class="img-fluid" alt="Patient">
                                        </div>
                                    </div>
                                    <div class="dash-widget-info">
                                        <h6>Today Reviewed</h6>
                                        <h3>@viewmodel.TodayAppointments</h3>
                                        <p class="text-muted">@DateTime.Now.ToShortDateString()</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card dash-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="focus-label">Choose clinic :</label>
                                    <select id="Clinic" name="Clinic" class="form-control col-md-8">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="focus-label">Choose timing :</label>
                                    <select id="Timing" name="Timing" class="form-control col-md-8">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1 col-lg-1">
                                <div class="form-group">
                                    <label class="focus-label"> </label>
                                    <button type="submit" class="form-control btn btn-success submit-btn" id="searchbutton" name="searchbutton">GO</button>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="focus-label">Filter:</label>
                                    <input type="checkbox" id="includecomplete" name="includecomplete" />Include completed patients list also
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card dash-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="mb-4">Patient Appointment</h4>
                                <div class="appointment-tab">
                                    <div id="patientlist" class="tab-content">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/CustomerDashboard.js"></script>
